tpu-info
yapf == 0.43.0
pytest
pytest-mock
absl-py
numpy
google-cloud-storage
--pre
--find-links https://storage.googleapis.com/jax-releases/jax_nightly_releases.html
--find-links https://storage.googleapis.com/jax-releases/jaxlib_nightly_releases.html
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
jaxtyping
flax
torchax==0.0.5
qwix @ git+https://github.com/google/qwix@main
