[run]
omit =
    tpu_inference/kernels/*
    tpu_inference/models/vllm/experimental/deepseek_v4.py

[paths]
source =
    .
    /workspace/build/buildkite/
    /workspace/tpu_inference/
    /tpu-inference/workspace/tpu_inference/
